In [1]:
import pandas as pd

apps = pd.read_csv('AppleStore.csv')
print(apps.sample(7))

      Unnamed: 0          id  \
3636        4429   981031050
4828        6244  1062168249
4654        5964  1055397979
5630        7629  1091000556
3754        4600   991626372
4259        5339  1033685038
3916        4838  1006850128

                                             track_name  size_bytes currency  \
3636                                              霸王卧龙传    75983872      USD
4828                           Dead Zone: Zombie Crisis    87025664      USD
4654           Tap My Katamari - Endless Cosmic Clicker   228460544      USD
5630                                        Growing Pug    54922240      USD
3754  Snapshot Cam - Draw on Pictures & Add Text to ...   109117440      USD
4259  Myths of the World: Black Rose - A Hidden Obje...   796377088      USD
3916  Ice Queen Prom Salon: Princess Makeover Girls ...    73683968      USD

      price  rating_count_tot  rating_count_ver  user_rating  user_rating_ver  \
3636   0.99                 1                 1          5.0              5.0
4828   0.00              1632                28          4.5              4.5
4654   0.00              2114                63          4.5              4.0
5630   0.99              1194               455          4.0              4.0
3754   2.99                14                 1          5.0              5.0
4259   2.99                20                20          4.0              4.0
3916   1.99                11                 1          3.5              1.0

           ver cont_rating    prime_genre  sup_devices.num  ipadSc_urls.num  \
3636       1.4          9+          Games               38                3
4828    1.2.25         12+          Games               38                5
4654       3.0          4+          Games               37                5
5630      1.03          4+          Games               38                5
3754       1.4          4+  Photo & Video               37                5
4259     1.0.0          9+          Games               38                0
3916  9999.1.6          4+          Games               40                5

      lang.num  vpp_lic
3636         1        1
4828        11        1
4654         2        1
5630         1        1
3754        31        1
4259         4        1
3916         1        1

In [2]:
sum(apps.track_name.duplicated())

2

In [4]:
apps[apps.track_name.duplicated() == True]#.describe()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
5603,7579,1089824278,VR Roller Coaster,240964608,USD,0.0,67,44,3.5,4.0,0.81,4+,Games,38,0,1,1
7128,10885,1178454060,Mannequin Challenge,59572224,USD,0.0,105,58,4.0,4.5,1.0.1,4+,Games,38,5,1,1